// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body{
font-family: Arial, Helvetica, sans-serif !important;
}
.text-center{
text-align: center;
}
table {
border-collapse: collapse;
overflow: hidden;
}
.table thead th {
vertical-align: bottom;
border-bottom: none !important;
}
.table th {
background-color: #352671;
color: white;
padding: 0.75rem;
vertical-align: top;
border-top: none !important;
}
.table td{
background-color: white;
}
.form-control:focus {
border-color: #352671;
box-shadow: 0 0 0 1px #352671;
}
.btn-main{
background-color: #352671;
color:white !important;

}
.btn-main:hover{
background-color: #4b34a7;
}
.btn-main:active, .btn-primary:visited {
background-color: #4b34a7 !important;
box-shadow: 0 0 0 0.2rem #6651bd !important;

}
.card{
border: 5px !important;
background-color: #ffffff !important;
}
.card-header{
background-color: #0c0333 !important;
color:white !important;
border-radius: 13px 13px 0px 0px !important;
border-bottom: 0 !important;
}
.input-group-text{
background-color: #6651bd !important;
color:white !important;
border: 0 !important;

}
.clear-border{
border: 0 !important;
}
.table_header {
border-top-left-radius: 15px;
border-top-right-radius: 15px;
width: 100%;
display: block;
color: white;
background-color: #352671;
}

.table_header_body {
padding: 11.5px;
border-bottom: 2px solid white !important;
}

.table_body {
overflow: auto;
}
.slides-effect {
    border-color: #202020;
    border-style: solid;
    border-width: 2px;
}
.slides-effect:focus {
    border-color: #202020;
    border-style: solid;
    border-width: 2px;
}
.slides-effect:active {
    border-color: #00ff51;
    border-style: solid;
    border-width: 2px;
}
.select{
    border-color: #6651bd !important;
}
.select:focus {
    border-color: #6651bd !important;
}
.select:active {
    border-color: #00ff51 !important;
}

